* {
  font-family: "GothamProRegular", sans-serif;
  color: #18191f;
  box-sizing: border-box;
}
body{
  margin: 0;
}
a {
  color: #3f4254;
  text-decoration: unset;
}
button{
  outline: unset;
  box-sizing: border-box;
}
ol, ul, dl {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.container {
  max-width: 1200px;
  margin: auto;
}
.center-container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.page-wrapper{

  display: flex;
  flex-direction: column;
}
.page-content {
  flex-grow: 1;
}
.page-content > div{
  height: inherit;
}
