* {
  font-family: "GothamProRegular", sans-serif;
  color: #18191f;
  box-sizing: border-box;
}
body{
  margin: 0;
}
a {
  color: #3f4254;
  text-decoration: unset;
}
button{
  outline: unset;
  box-sizing: border-box;
}
ol, ul, dl {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.container {
  max-width: 1200px;
  margin: auto;
}
.center-container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.page-wrapper{

  display: flex;
  flex-direction: column;
}
.page-content {
  flex-grow: 1;
}
.page-content > div{
  height: inherit;
}
a:hover {
  color: #419bbf;
  text-decoration: none;
}


.section {
  margin-bottom: 64px;
}
.section__collections {
  min-width: 0;
  overflow: hidden;
  margin: 0 auto;
}


/* region base form */
.inline-form {
  display: flex;
  margin: 0 auto;
  background: #FFFFFF;
  border-radius: 9px;
  padding: 80px 40px 24px;
  flex-direction: column;
  box-shadow: 0 40px 60px 0 rgb(37 59 112 / 10%);
}
.form-base.form-base_shadow{

}
/* endregion base form */
