/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
backend/.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.env
/.idea
/.vscode
/backend/vendor
.docker/mysql/data
/frontend/node_modules
/frontend/.nuxt
/frontend/.env

/backend/vendor/
