
$mainColor: #d3a1df;

$pink: rgba(242,121,177, 1);
$blue: rgba(65,155,191, 1); // accent
$skyBlue: rgba(4,242,242, 1);
$green: rgba(4,242,198, 1);
$green2: rgb(14, 198, 69);
$cream: rgba(242,242,242, 1);

$gray: #f6f6f6;
$gray2: #8a8a8a;
$gray3:#b1b2b9;

$red: rgba(242,67,67, 1);
$yellow: rgba(242,182,4, 1);
$dark: rgb(46, 46, 51);
$brawn: rgba(24, 25, 31, 0.48);


$focusBlue: #3699ff;


